{% if not page|default(null) %}
    <strong>No page was defined</strong>
{% else %}
    {# @var page \Innomedio\PageBundle\Service\Blocks\Helper\Objects\Page #}
    {% for block in page.blocks %}
        {{ include(block.template) }}
    {% endfor %}
{% endif %}