<div class="modal-header">
    <h4 class="modal-title">{{ pageBlock.customName }} - {{ 'innomedio.backend_theme.settings'|trans }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

<form method="post" action="{{ url('innomedio.pages.fixed_blocks.settings.popup.submit', {id: pageBlock.id}) }}" id="settings-form">
    <div class="modal-body p-0 pt-15">
        <div class="col-12">
            <div class="form-group text-fader">
                {{ form_label(form.customName) }}
                {{ form_widget(form.customName) }}
            </div>

            <div class="form-group text-fader">
                {{ form_label(form.customTag) }}
                {{ form_widget(form.customTag) }}
            </div>

            <div class="form-group text-fader">
                {{ form_widget(form.blockedForPage) }} Kan niet toegevoegd worden aan pagina's
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-bold btn-block btn-primary">{{ 'innomedio.backend_theme.global.save'|trans }}</button>
    </div>
{{ form_end(form) }}