<div class="modal-header">
    <h4 class="modal-title">{{ configSettings.name }} {{ 'innomedio.backend_theme.settings'|trans }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form method="post" action="{{ url('innomedio.pages.settings.popup.submit', {id: pageBlock.id}) }}" id="settings-form">
    <div class="modal-body p-15">
        <div class="row">
            {# @var configData \Innomedio\PageBundle\Service\Blocks\Config\Setting #}
            {% for key, configData in configSettings.settings if configData.type == 'boolean' and not configData.multilingual %}
                <div class="col-6">
                    <div class="form-group">
                        <label>{{ configData.description }}</label><br />

                        <label class="switch">
                            <input type="checkbox"{% if pageBlockSettings[key]|default(false) %} checked{% endif %} name="config[{{ key }}]" />
                            <span class="switch-indicator"></span>
                        </label>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-bold btn-block btn-primary">{{ 'innomedio.backend_theme.global.save'|trans }}</button>
    </div>
</form>