{% if page %}
    <div id="no-h1-error" class="page-error col-12 mb-0{% if h1Amount != 0 %} d-none{% else %} d-block{% endif %}">
        <div class="card mb-0">
            <div class="alert alert-danger show" role="alert">
                <strong>{{ 'innomedio.page.warning_title'|trans }}</strong><br />
                {{ 'innomedio.page.no_h1'|trans }}
            </div>
        </div>
    </div>

    <div id="too-many-h1-error" class="page-error col-12 mb-0 {% if h1Amount > 1 %} block{% else %} d-none{% endif %}">
        <div class="card mb-0">
            <div class="alert alert-danger show" role="alert">
                <strong>{{ 'innomedio.page.warning_title'|trans }}</strong><br />
                {{ 'innomedio.page.too_many_h1'|trans }}
            </div>
        </div>
    </div>
{% endif %}

{# @var pageBlock \Innomedio\PageBundle\Entity\PageBlock #}
{% for pageBlock in pageBlocks %}

    {# @var block \Innomedio\PageBundle\Service\Blocks\Config\Block #}
    {% set block = null %}
    {% if pageBlock.tag %}
        {% set block = blocks[pageBlock.tag] %}
    {% else %}
        {% set block = blocks[pageBlock.parent.tag] %}
    {% endif %}

    <div class="col-12 item-to-remove block-item" data-id="{{ pageBlock.id }}">
        <div class="card card-slided-up mb-0"{% if pageBlock.parent %} style="background: #FBFBFB"{% endif %}>
            <header class="card-header">
                <h4 class="card-title">
                    {% if pageBlock.page %}
                        <label class="switch switch-border switch-cyan" style="float: left; margin-top: -3px; margin-right: 10px;">
                            <input data-id="{{ pageBlock.id }}" class="block-switch" type="checkbox"{% if pageBlock.active %} checked=""{% endif %}>
                            <span class="switch-indicator"></span>
                            <span class="switch-description"></span>
                        </label>
                    {% endif %}

                    {% if not pageBlock.page or pageBlock.parent %}
                        {% if pageBlock.parent %}
                            {{ pageBlock.parent.customName }}
                        {% else %}
                            {{ pageBlock.customName }}
                        {% endif %}
                    {% else %}
                        {{ block.name }}
                    {% endif %}
                </h4>

                <div>
                    {% if pageBlock.parent %}
                        <span class="badge badge-info mr-60">
                            <a href="{{ url('innomedio.pages.fixed_blocks') }}" class="text-white">Vaste blok</a>
                        </span>
                    {% endif %}

                    <a class="btn btn-sm btn-pure show-block-config {% if not pageBlock.page or not block.settings|default(null) %} invisible {% endif %}"
                       href="{{ url('innomedio.pages.settings.popup', {id: pageBlock.id}) }}"
                       data-toggle="modal"
                       data-target="#modal-settings"
                    ><i class="ti-settings"></i></a>

                    {% if not pageBlock.page %}
                        <a class="btn btn-sm btn-pure show-block-config"
                           href="{{ url('innomedio.pages.fixed_blocks.settings.popup', {id: pageBlock.id}) }}"
                           data-toggle="modal"
                           data-target="#modal-settings"
                        ><i class="ti-settings"></i></a>
                    {% endif %}

                    {% if pageBlock.page %}
                        <a class="btn btn-sm btn-pure sortable-handle" href="#"><i class="ti-exchange-vertical"></i></a>
                    {% endif %}

                    <a class="btn btn-sm btn-pure open-block" href="#"><i class="ti-angle-up{% if pageBlock.parent or block.elements|length == 0 %} invisible{% endif %}"></i></a>
                    <a class="btn btn-sm btn-pure ajax-remove {% if not is_granted('ROLE_ROOT') and pageBlock.customTag %} invisible{% endif %}" href="{{ url('innomedio.pages.content.remove_block', {id: pageBlock.id}) }}"><i class="ti-close"></i></a>
                </div>
            </header>

            <div class="card-content">
                <div class="card-body">
                    <div class="row">
                        {# todo afhankelijk van het aantal elementen breedte kolommen aanpassen #}

                        {% if not pageBlock.parent and not block.expendable|default(false) %}
                            {% for element in block.elements %}
                                <div class="col-md-2">
                                    <div class="element-wrap border-divider-light b-1 p-20">
                                        <p>{{ element.name }}{% if is_granted('ROLE_ROOT') %}<br /><span class="opacity-40">Tag: {{ element.tag }}</span>{% endif %}</p>

                                        <button class="btn btn-square btn-info show-pageblock-popup"
                                                href="{{ url('innomedio.pages.element.form', {id: pageBlock.id, elementTag: element.tag}) }}"
                                                data-toggle="modal"
                                                data-target="#modal-pageblock"
                                        ><i class="fa fa-pencil"></i></button>

                                        {% if element.images %}
                                            <button class="btn btn-square btn-info show-pageblock-image-popup"
                                                    href="{{ url('innomedio.pages.element.images', {id: pageBlock.id, elementTag: element.tag}) }}"
                                                    data-toggle="modal"
                                                    data-target="#modal-pageblock-images"
                                            ><i class="fa fa-photo"></i></button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            {#
                            APARTE TEMPLATE VAN MAKEN ZODAT DIE HERBRUIKBAAR IS VOOR AJAX TOEVOEGEN VAN ELEMENTEN
                            {% for element in block.elements %}
                                <div class="col-md-2">
                                    <div class="element-wrap border-divider-light b-1 p-20">
                                        <p>{{ element.name }}{% if is_granted('ROLE_ROOT') %}<br /><span class="opacity-40">Tag: {{ element.tag }}</span>{% endif %}</p>

                                        <button class="btn btn-square btn-info show-pageblock-popup"
                                                href="{{ url('innomedio.pages.content.block_form', {id: pageBlock.id, elementTag: element.tag}) }}"
                                                data-toggle="modal"
                                                data-target="#modal-pageblock"
                                        ><i class="fa fa-pencil"></i></button>

                                        {% if block.images %}
                                            <button class="btn btn-square btn-info show-pageblock-image-popup"
                                                    href="{{ url('innomedio.pages.content.element_images', {id: pageBlock.id, elementTag: element.tag}) }}"
                                                    data-toggle="modal"
                                                    data-target="#modal-pageblock-images"
                                            ><i class="fa fa-photo"></i></button>
                                        {% endif %}
                                    </div>
                                </div>
                            {% endfor %}
                            #}

                            <div class="col-md-2">
                                <a href="#" class="d-block border-divider-light b-1 p-20 h-100 bg-primary text-center hover-success" style="min-height: 141px;">
                                    <i class="fa fa-plus fs-50 text-white" style="padding-top: 20px;"></i>
                                </a>
                            </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}