<div class="modal-header">
    <h4 class="modal-title">{{ elementConfig.block.name }}: {{ elementConfig.name }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form method="post" action="{{ url('innomedio.pages.element.submit', {id: pageBlock.id, elementTag: elementConfig.tag}) }}" id="pageblock-content-form">
    <div class="modal-body p-0">
        <ul class="nav nav-tabs">
            {% for language in languages %}
            <li class="nav-item"><a class="nav-link{% if loop.first %} active{% endif %}" data-toggle="tab" href="#content-{{ language.code }}">{{ language.name }}</a></li>
            {% endfor %}

            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#content-config">{{ 'innomedio.backend_theme.settings'|trans }}</a></li>
        </ul>

        <div class="tab-content p-15 pb-0">
            {% for language in languages %}
                <div class="tab-pane fade{% if loop.first %} active show{% endif %}" id="content-{{ language.code }}">
                    {% if elementConfig.title %}
                        <div class="form-group">
                            <label>{{ 'innomedio.backend_theme.global.title'|trans }}</label>
                            <input type="text" class="form-control" name="content[{{ language.code }}][title]" value="{{ elementContent[language.id].title|default('') }}" />
                        </div>
                    {% endif %}

                    {% if elementConfig.content %}
                        <div class="form-group">
                            <label>{{ 'innomedio.backend_theme.global.content'|trans }}</label>
                            <textarea rows="15" class="form-control{% if elementConfig.editor %} summernote{% endif %}" name="content[{{ language.code }}][content]">{{ elementContent[language.id].content|default('') }}</textarea>
                        </div>
                    {% endif %}

                    {% if elementConfig.buttons > 0 %}
                        {% for i in 0 .. elementConfig.buttons - 1 %}
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ 'innomedio.page.button'|trans }} {{ i+1 }}</label>
                                        <input type="text" class="form-control" name="button[{{ language.code }}][{{ i }}][text]" value="{{ elementContent[language.id].button(i).text|default('') }}" />
                                    </div>
                                </div>

                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label>{{ 'innomedio.page.button_link'|trans }}</label>
                                        <input type="text" class="form-control" name="button[{{ language.code }}][{{ i }}][link]" value="{{ elementContent[language.id].button(i).link|default('') }}" />
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}

                    {% for setting in elementConfig.multilingualSettings %}
                        {% if setting.type == 'text' %}
                            <div class="form-group">
                                <label>{{ setting.description }}</label>
                                <input type="text" class="form-control" name="config[{{ language.code }}][{{ setting.key }}]" value="{{ elementContent[language.id].setting(setting.key).value|default('') }}" />
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}

            <div class="tab-pane fade" id="content-config">
                {% if elementConfig.canChangeTitleType and elementConfig.title %}
                    <div class="form-group">
                        <label>{{ 'innomedio.page.title_type'|trans }}</label>
                        <select class="form-control" name="titleType">
                            {% for i in 1 .. 5 %}
                                <option value="{{ i }}"{% if elementContent|first.titleType|default(1) == i %} selected{% endif %}>H{{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                {% endif %}

                {% if elementConfig.imageSelector %}
                    <div class="form-group">
                        <label>{{ 'innomedio.page.image'|trans }}</label>

                        <select class="form-control" name="selectImage">
                            <option value=""></option>
                            {% for file in finder.in(projectDir ~ '/public' ~ elementConfig.imageSelector) %}
                                <option
                                    {% if elementContent|first.selectedImage|default('') == elementConfig.imageSelector ~ file.getRelativePathname %} selected{% endif %}
                                    data-path="{{ elementConfig.imageSelector }}{{ file.getRelativePathname }}"
                                    value="{{ file.getRelativePathname }}"
                                >
                                    {{ file.getRelativePathname }}
                                </option>
                            {% endfor %}
                        </select>
                    </div>

                    <img style="max-width: 100%" id="select-image" class="{% if not elementContent|first or not elementContent|first.selectedImage %}d-none{% endif %}" src="{{ elementContent|first.selectedImage|default('') }}" />
                {% endif %}

                <div class="row">
                    {% for setting in elementConfig.regularSettings %}
                        {# @todo duplicate code with blocks, try to find a better way #}
                        {% if setting.type == 'text' %}
                            <div class="form-group">
                                <label>{{ setting.description }}</label>
                                <input type="text" class="form-control" name="config[{{ setting.key }}]" value="{{ elementContent[language.id].setting(setting.key).value }}" />
                            </div>
                        {% elseif setting.type == 'boolean' %}
                            <div class="col-6">
                                <div class="form-group">
                                    <label>{{ setting.description }}</label><br />

                                    <label class="switch">
                                        <input type="checkbox"{% if elementContent|first.setting(setting.key).value|default(false) %} checked{% endif %} name="config[{{ setting.key }}]" />
                                        <span class="switch-indicator"></span>
                                    </label>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-bold btn-block btn-primary">{{ 'innomedio.backend_theme.global.save'|trans }}</button>
    </div>
</form>

{% include "@InnomedioBackendTheme/form/summernote_config.html.twig" with {
    'showTables': true
} %}