<div class="modal-header">
    <h4 class="modal-title">{{ blockConfig.name }} {{ 'innomedio.backend_theme.settings'|trans }}</h4>
    <button type="button" class="close" data-dismiss="modal">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<form method="post" action="{{ url('innomedio.pages.content.pageblock_config_submit', {id: pageBlock.id}) }}" id="pageblock-settings-form">
    <div class="modal-body p-15">
        <div class="row">
            {% for key, config in blockConfig.configValues %}
                <div class="col-6">
                    <div class="form-group">
                        <label>{{ config.description }}</label><br />
                        {% if config.type == 'boolean' %}
                            <label class="switch">
                                <input type="checkbox" name="config[{{ key }}]" />
                                <span class="switch-indicator"></span>
                            </label>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

    <div class="modal-footer">
        <button type="submit" class="btn btn-bold btn-block btn-primary">{{ 'innomedio.backend_theme.global.save'|trans }}</button>
    </div>
</form>