{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}

{% block content %}
    <div class="main-content mb-60">
        <div class="row">
            <div class="col-12">
                <div class="card card-slided-up mb-0 bg-primary">
                    <header class="card-header">
                        <div style="width: 100%;">
                            {% if not page %}
                                <input type="text" name="block-name" class="form-control float-left" style="max-width: 250px; margin-right: 20px;" placeholder="Naam" />
                            {% endif %}

                            <select data-provide="selectpicker" id="select-block">
                                <optgroup label="Blokken">
                                    {% for block in blocks if page or (not page and block.canBeTemplate == true) %}
                                        <option value="{{ block.tag }}">{{ block.name }}</option>
                                    {% endfor %}
                                </optgroup>

                                {% if customBlocks|default(null) %}
                                    <optgroup label="Vaste blokken">
                                        {% for customBlock in customBlocks %}
                                            <option value="{{ customBlock.id }}">{{ customBlock.customName }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endif %}
                            </select>

                            <a href="#" class="btn btn-square btn-pure text-white" id="add-block"><i class="fa fa-plus-circle"></i></a>
                        </div>
                    </header>
                </div>
            </div>
        </div>

        <div class="row" id="page-blocks">
            {% include "@InnomedioPage/backend/pages/_content_blocks.html.twig" %}
        </div>
    </div>

    <div class="modal fade" id="modal-pageblock" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="modal-pageblock-spinner">
                    <div class="modal-body">
                        <div class="spinner-linear">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div id="modal-pageblock-content"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-settings" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div id="modal-settings-spinner">
                    <div class="modal-body">
                        <div class="spinner-linear">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div id="modal-settings-content"></div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modal-pageblock-images" tabindex="-1">
        <div class="modal-dialog modal-lg" style="width: 1400px !important;">
            <div class="modal-content">
                <div id="modal-pageblock-images-spinner">
                    <div class="modal-body">
                        <div class="spinner-linear">
                            <div class="line"></div>
                        </div>
                    </div>
                </div>

                <div id="modal-pageblock-images-content" style="background: #f5f6fa">
                    <iframe id="images-iframe" style="display: block; width: 100%; height: 600px; border: 0; margin-bottom: 0;"></iframe>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block javascript %}
    <script src="/assets/backend/vendor/html5sortable/html.sortable.js"></script>

    <script>
        {# @todo might want to put this is a seperate javascript class, too much logic #}

        /**
         * Init sortable blocks
         */
        function initSortable() {
            sortable('#page-blocks', {
                'placeholder': '<div class="col-12 p-0"><div class="card card-slided-up mb-0"><header class="card-header"><h4 class="card-title opacity-50">&nbsp;</div>',
                'handle': '.sortable-handle'
            });

            sortable('#page-blocks')[0].addEventListener('sortstop', function(e) {
                changeBlockOrder();
            });
        }

        /**
         * Function for changing the block order of the page
         */
        function changeBlockOrder() {
            LoaderComponent.show();
            var list = [];

            $('.block-item').each(function() {
                list.push($(this).data('id'));
            });

            $.post('{{ url('innomedio.pages.content.block_order') }}', {blocks: list}, function() {
                LoaderComponent.hide();
            }, 'json');
        }

        $(document).ready(function() {
            initSortable();

            /**
             * Add a new block to the page
             */
            $('#add-block').on('click', function(e) {
                e.preventDefault();

                var submit = true;
                var name = null;

                {% if not page %}
                    submit = false;

                    var input = $("input[name='block-name']");

                    if (input.length > 0 && input.val() !== '') {
                        name = input.val();
                        submit = true;
                    } else {
                        swal('Fout', 'Je hebt geen naam ingegeven.', 'error');
                    }
                {% endif %}

                if (submit === true) {
                    LoaderComponent.show();

                    $.post('{{ url('innomedio.pages.content.add_block', {id: page.id|default(0)}) }}', {tag: $('#select-block').val(), name: name}, function (response) {
                        LoaderComponent.hide();
                        $('#page-blocks').html(response.html);
                        initSortable();
                    }, 'json');
                }
            });

            $('body').on('change', '.block-switch', function() {
                /**
                 * Make block (in)active
                 */
                LoaderComponent.show();

                $.post('{{ url('innomedio.pages.content.block_active') }}', {id: $(this).data('id'), 'active': $(this).is(':checked')}, function(response) {
                    LoaderComponent.hide();
                }, 'json');
            }).on('click', '.open-block', function(e) {
                /**
                 * Show elements of block, always hide the previously opened block
                 */
                 e.preventDefault();

                 if ($(this).closest('.card').hasClass('card-slided-up')) {
                     $('.block-item').find('.card').addClass('card-slided-up');
                     $(this).closest('.card').removeClass('card-slided-up');
                 } else {
                     $(this).closest('.card').addClass('card-slided-up');
                 }
            }).on('change', "select[name='selectImage']", function(e) {
                /**
                 * Image select in popup
                 */
                var selected = $(this).find('option:selected');

                if (selected.data('path')) {
                    $('#select-image').removeClass('d-none').attr('src', selected.data('path'));
                } else {
                    $('#select-image').addClass('d-none')
                }
            }).on('click', '.show-pageblock-popup', function(e) {
                /**
                 * Open element content popup
                 */
                $('#modal-pageblock-content').empty();
                $('#modal-pageblock-spinner').show();

                $.post($(this).attr('href'), {}, function(response) {
                    $('#modal-pageblock-content').html(response);
                    $('#modal-pageblock-spinner').hide();

                    $('#pageblock-content-form').ajaxForm({
                        'successAnimation': false,
                        'onFinished': function(result) {
                            $('#modal-pageblock').modal('hide');

                            $('.page-error').removeClass('d-block').addClass('d-none');

                            if (result.h1Amount > 1) {
                                $('#too-many-h1-error').removeClass('d-none').addClass('d-block');
                            } else if (parseInt(result.h1Amount) === 0) {
                                $('#no-h1-error').removeClass('d-none').addClass('d-block');
                            }
                        }
                    });
                });
            }).on('click', '.show-block-config', function(e) {
                /**
                 * Open pageblock settings
                 */
                $('#modal-settings-content').empty();
                $('#modal-settings-spinner').show();

                $.post($(this).attr('href'), {}, function(response) {
                    $('#modal-settings-content').html(response);
                    $('#modal-settings-spinner').hide();

                    $('#settings-form').ajaxForm({
                        'successAnimation': false,
                        'onFinished': function(result) {
                            $('#modal-settings').modal('hide');
                        }
                    });
                });
            }).on('click', '.show-pageblock-image-popup', function(e) {
                $('#modal-pageblock-images-content').hide();
                $('#modal-pageblock-images-spinner').show();

                $('#images-iframe').attr('src', $(this).attr('href'));

                setTimeout(function() {
                    $('#modal-pageblock-images-content').show();
                    $('#modal-pageblock-images-spinner').hide();
                }, 1000);
            });
        });
    </script>
{% endblock %}

