{% extends "@InnomedioBackendTheme/backend_base.html.twig" %}

{% block content %}
    {% form_theme form '@InnomedioBackendTheme/form/template-fields.html.twig' %}

    <div class="main-content pb-30">
        {{ form_start(form, {'action': url('innomedio.pages.submit', {id: page.id}), 'attr': {'class': 'ajax-form'}}) }}
            <div class="col-lg-7  col-md-6">
                {% if form.translations.count > 1 %}
                    <div class="card">
                        <ul class="nav nav-tabs">
                            {% for language in languages %}
                                <li class="nav-item">
                                    <a class="nav-link{% if loop.first %} active{% endif %}" data-toggle="tab" href="#language-{{ language.id }}">{{ language.name }}</a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="tab-content">
                    {% for translation in form.translations %}
                        <div class="d-none">
                            {{ form_label(translation.language) }}
                            {{ form_widget(translation.language) }}
                        </div>

                        <div class="tab-pane fade{% if languages|first.id == translation.vars.value.language.id %} active  show{% endif %}" id="language-{{ translation.vars.value.language.id }}">
                            <div class="row">
                                <div class="col">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="form-group text-fader">
                                                {{ form_label(translation.name) }}

                                                {% if (page.blockName and not is_granted('ROLE_ROOT')) %}
                                                    {% set hideClass = 'd-none' %}
                                                    <input type="text" class="form-control" disabled value="{{ translation.vars.value.name }}" />
                                                {% endif %}

                                                {{ form_widget(translation.name, {attr: {'class': hideClass|default('')}}) }}
                                            </div>

                                            <div class="form-group text-fader{% if (page.disableMeta and not is_granted('ROLE_ROOT')) %} d-none{% endif %}">
                                                {{ form_label(translation.metaTitle) }}
                                                {{ form_widget(translation.metaTitle) }}
                                            </div>

                                            <div class="form-group text-fader{% if (page.disableMeta and not is_granted('ROLE_ROOT')) %} d-none{% endif %}">
                                                {{ form_label(translation.metaDescription) }}
                                                {{ form_widget(translation.metaDescription) }}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="col-lg-5 col-md-6">
                <div class="card">
                    <h4 class="card-title">{{ 'innomedio.backend_theme.settings'|trans }}</h4>
                    <div class="card-body">
                        <div class="form-group text-fader">
                            {% if (page.blockSubpages and not is_granted('ROLE_ROOT')) %}
                                {% set disabled = true %}
                            {% else %}
                                {% set disabled = false %}
                            {% endif %}

                            {{ form_label(form.parentId) }}
                            {{ form_widget(form.parentId, {attr: {'disabled': disabled}}) }}
                        </div>

                        <div class="form-group text-fader{% if (page.blockActive and not is_granted('ROLE_ROOT')) %} d-none{% endif %}">
                            {{ form_widget(form.active) }}
                        </div>

                        <div class="form-group text-fader{% if (page.blockSitemap and not is_granted('ROLE_ROOT')) %} d-none{% endif %}">
                            {{ form_widget(form.inSitemap) }}
                        </div>
                    </div>
                </div>

                <div class="card {% if not is_granted('ROLE_ROOT') %} d-none{% endif %}">
                    <h4 class="card-title">Root instellingen</h4>
                    <div class="card-body">
                        <div class="form-group text-fader{% if not is_granted('ROLE_ROOT') %} d-none{% endif %}">
                            {{ form_label(form.tag) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Je kan belangrijke pagina's een unieke tag geven om er op die manier makkelijk naar te linken wanneer nodig, denk bv. aan de homepage of een landingspagina na het invullen van een formulier. Pagina's met een tag kunnen niet verwijderd worden door gewone gebruikers." class="fa fa-question-circle"></i>
                            {{ form_widget(form.tag) }}
                        </div>

                        <div class="form-group text-fader">
                            {{ form_label(form.controller) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Bv. App\Controller\MyCustomController::showPage" class="fa fa-question-circle"></i>
                            {{ form_widget(form.controller) }}
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.homepage) }}
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.hasContent) }}
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.manual) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Vink je dit aan dan geef je aan dat deze pagina niet automatisch getoond zal worden in de front-end. Dit is handig indien je een pagina wil tonen via een eigen controller, maar toch de meta tags en/of de inhoud beheerbaar wil maken." class="fa fa-question-circle"></i>
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.blockName) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Dit zorgt ervoor dat de naam van de pagina niet aangepast kan worden door niet-roots, handig voor bv. manuele of custom pagina's zoals 'homepage', 'laatste nieuws' enz." class="fa fa-question-circle"></i>
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.blockActive) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Niet roots kunnen de 'actief' state van de pagina niet aanpassen" class="fa fa-question-circle"></i>
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.blockSubpages) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Niet roots kunnen de parent pagina niet aanpassen" class="fa fa-question-circle"></i>
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.blockSitemap) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Niet roots kunnen de 'toevoegen aan sitemap' state van de pagina niet aanpassen" class="fa fa-question-circle"></i>
                        </div>

                        <div class="form-group text-fader">
                            {{ form_widget(form.disableMeta) }} <i data-provide="tooltip" data-placement="top" title="" data-original-title="Niet roots kunnen de meta gegevens van deze pagina niet aanpassen." class="fa fa-question-circle"></i>
                        </div>
                    </div>
                </div>
            </div>

        {{ form_end(form) }}
    </div>
{% endblock %}