{% extends '@InnomedioBackendTheme/backend_base.html.twig' %}
{% import _self as macros %}

{% block content %}
    <div class="main-content mb-60">
        <div class="media-list media-list-divided media-list-hover" data-provide="selectall">
            <div class="media-list-body bg-white b-1 sortable-main" style="border-top: 0 !important; border-bottom: 0 !important;">
                {{ macros.pages(pages, 0) }}
            </div>
        </div>
    </div>

    <div class="fab fab-fixed">
        <a class="btn btn-float btn-primary"
           href="{{ url('innomedio.pages.form') }}"
           data-provide="tooltip"
           data-original-title="{{ 'innomedio.backend_theme.global.add'|trans }}"
        ><i class="ti-plus"></i></a>
    </div>
{% endblock %}

{% macro pages(pages, counter, page = null) %}
    {% import _self as macros %}

    {% set counter = counter + 1 %}

    {# @var page \Innomedio\PageBundle\Entity\Page #}
    <ul class="pagelist {% if page %}js-sortable-inner-connected-{{ page.id }}{% else %}js-sortable-connected{% endif %}"{# class="{% if counter == 1 %}js-sortable-connected{% else %}js-sortable-inner-connected-{{ counter }}{% endif %}"#}>
    {% for page in pages %}
        <li class="page-item" data-id="{{ page.id }}">
            <div class="item-to-remove media align-items-center">
                <a href="#" class="handle opacity-30 mr-40"><i class="ti-exchange-vertical"></i></a>
                <a class="{% if not page.active %}text-warning{% endif %} media-body text-truncate" href="{{ url('innomedio.pages.form', {id: page.id}) }}">
                    <p{% if counter > 1 %} class="tree"{% endif %} style="margin-left: {{ (counter - 1) * 30 }}px;">
                        {{ page.translations.get(primaryLanguageId).name|default('') }}
                    </p>
                </a>

                {% if is_granted('ROLE_ROOT') and page.tag %}
                    <span class="mr-200 opacity-40">Tag: {{ page.tag }}</span>
                {% endif %}

                {% if page.homepage %}
                    <span class="badge badge-info mr-200">Homepage</span>
                {% endif %}

                <div class="dropdown">
                    <a class="text-lighter" href="#" data-toggle="dropdown" aria-expanded="false"><i class="ti-more-alt rotate-90"></i></a>
                    <div class="dropdown-menu dropdown-menu-right" x-placement="bottom-end">

                        {% if page.content %}
                            <a class="dropdown-item" href="{{ url('innomedio.pages.content', {id: page.id}) }}"><i class="fa fa-fw fa-th"></i> {{ 'innomedio.page.content'|trans }}</a>
                        {% endif %}

                        <a class="dropdown-item" href="{{ url('innomedio.pages.form', {id: page.id}) }}"><i class="fa fa-fw fa-pencil"></i> {{ 'innomedio.backend_theme.global.edit'|trans }}</a>
                        {% if not page.tag and not page.homepage %}
                            <div class="dropdown-divider"></div>
                            <a class="ajax-remove dropdown-item"
                               href="{{ url('innomedio.pages.remove', {id: page.id}) }}"
                            ><i class="fa fa-fw fa-trash"></i> {{ 'innomedio.backend_theme.global.remove'|trans }}</a>
                        {% endif %}
                    </div>
                </div>
            </div>

            {{ macros.pages(page.children, counter, page) }}
        </li>
    {% endfor %}
    </ul>
{% endmacro %}

{% block css %}
    <style>
        .tree:before {
            content: '';
            display: block;
            position: absolute;
            width: 15px;
            margin-top: 4px;
            height: 10px;
            margin-left: -25px;
            border-left: 1px dotted #D4D4D4;
            border-bottom: 1px dotted #D4D4D4;
        }

        .pagelist
        {
            margin: 0;
            padding: 0;
            list-style-type: none;
            border-top: 1px solid rgb(235, 235, 235);
        }

    </style>
{% endblock %}

{% macro pages_js(pages, counter, page = null) %}
    {% import _self as macros %}

    {% for page in pages %}
        <script>
            sortable('.js-sortable-inner-connected-{{ page.id }}', {
                connectWith: 'js-inner-connected-{{ page.id }}',
                'placeholder': '<div class="item-to-remove media align-items-center"><a class="media-body text-truncate">&nbsp;</a></div>',
                'handle': '.handle'
            });

            sortable('.js-sortable-inner-connected-{{ page.id }}')[0].addEventListener('sortstop', function(e) {
                changePageSortOrder();
            });
        </script>

        {{ macros.pages_js(page.children, counter, page) }}
    {% endfor %}
{% endmacro %}

{% block javascript %}
    <script src="/assets/backend/vendor/html5sortable/html.sortable.js"></script>
    <script type="text/javascript">
        sortable('.js-sortable-connected', {
            connectWith: '.js-connected',
            'placeholder': '<div class="item-to-remove media align-items-center"><a class="media-body text-truncate">&nbsp;</a></div>',
            'handle': '.handle'
        });

        sortable('.js-sortable-connected')[0].addEventListener('sortstop', function(e) {
            changePageSortOrder();
        });
    </script>

    {{ macros.pages_js(pages, 0) }}

    <script>
        function changePageSortOrder()
        {
            LoaderComponent.show();
            var list = [];

            $('.page-item').each(function() {
                list.push($(this).data('id'));
            });

            $.post('{{ url('innomedio.pages.change_order') }}', {pages: list}, function() {
                LoaderComponent.hide();
            }, 'json');
        }
    </script>
{% endblock %}

